<div class="container">
  <div class="row">
    <h2>新規サークル作成</h2>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= form_with model: @group do |f| %>
        <div class="form-group">
          <%= f.label :name, "サークル名" %>
          <%= f.text_field :name, placeholder: "サークル名" %>
        </div>
        <!-- タグ機能は後で追加 -->
        <!--<div class="form-group">-->
        <!--  <= f.label :tag_list_id, "タグ" %>-->
        <!--  <= f.collection_select :tag_id, Genre.all, :id, :name, prompt: "--選択してください--" %>-->
        <!--</div>-->
        <div class="form-group">
          <%= f.label :explain, "サークル紹介文" %>
          <%= f.text_area :explain, placeholder: "ここに紹介文を記述します" %>
        </div>
        <%= f.hidden_field :leader_id, :value => current_user.id %>

          <%= f.submit '新規作成', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>